accelerate
transformers
langdetect
six
emoji
nltk>=3.8.1
pythainlp
pandas>=1.5.0
scipy
anthropic
mistralai
google.generativeai
openai
vllm
torch
numpy
tqdm
giga @ git+https://git@gitlab.com/ru.ush/lightweight-gigachat.git@module
requests
